{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = export.id ? export.title : 'New Export' %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block header %}
	{{ block('pageTitle') }}
	<div class="flex-grow"></div>
	{{ block('actionButton') }}
{% endblock %}

{% block actionButton %}
	<div class="btngroup">
		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

		<div class="btn submit menubtn"></div>
		<div class="menu">
			<ul>
				<li>
					<a class="formsubmit"
				       data-redirect="{{ continueEditingUrl|hash }}">
						{{ forms.optionShortcutLabel('S') }}
						{{ "Save and continue editing"|t('app') }}
					</a>
				</li>
				<li>
					<a class="formsubmit"
				       data-redirect="{{ nextExportUrl|hash }}">
						{{ "Save and add another"|t('app') }}
					</a>
				</li>

				{#{% if not isNewExport %}
					<li>
						<a class="formsubmit" data-param="duplicate"
					       data-value="1"
					       data-redirect="{{ (continueEditingUrl~'#')|hash }}">
							{{ "Save as a new export"|t('app') }}
						</a>
					</li>
				{% endif %}#}
			</ul>
			{% if not isNewExport %}
				{#<hr>#}
				<ul>
					<li>
						<a class="formsubmit error"
					       data-action="out/out/delete"
					       data-confirm="{{ 'Are you sure you want to delete this export?'|t('app') }}"
					       data-redirect="{{ 'out#'|hash }}">
							{{ 'Delete'|t('app') }}
						</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% js %}
// Out.init({{ fields|json_encode|raw }}, {{ integrations|json_encode|raw }});
new Out();
{% endjs %}

{% block content %}
	<input type="hidden" name="action" value="out/out/save">
	{{ redirectInput('out') }}

	{% if export.id %}
		<input type="hidden" name="exportId" value="{{ export.id }}">
	{% endif %}

	<div id="fields">
		{{ forms.textField({
			label: "Title"|t('app'),
			id: 'title',
			name: 'title',
			value: export.title,
			first: true,
			autofocus: true,
			required: true,
			maxlength: 255,
			errors: export.getErrors('title'),
		}) }}

		<input type="hidden" name="fieldSettings" value="">

		<table class="shadow-box editable out--columns" id="out_fields">
			<thead>
			<tr>
				<th></th>
				<th>Column Heading</th>
				<th>Type</th>
				<th colspan="2"></th>
			</tr>
			</thead>
			<tbody>
			{% for col in export.fieldSettings %}
				<tr data-id="{{ loop.index }}">
					<td class="thin action">
						<a class="settings icon" title="Settings"></a>
						<input type="hidden" name="fieldSettings[{{ loop.index }}][twig]" value="{{ col.twig }}">
						<input type="hidden" name="fieldSettings[{{ loop.index }}][split]" value="{{ col.split }}">
						<input type="hidden" name="fieldSettings[{{ loop.index }}][type]" value="{{ col.type }}">
					</td>
					<td class="textual">
						<textarea name="fieldSettings[{{ loop.index }}][name]" rows="1">
							{{- col.name -}}
						</textarea>
					</td>
					<td class="out--type">
						<span>{{ col.type }}</span>
					</td>
					<td class="thin action"><a class="move icon" title="Reorder"></a></td>
					<td class="thin action"><a class="delete icon" title="Delete"></a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="btn add icon">Add Column</div>
	</div>

{% endblock %}

{% block details %}
	<div id="settings" class="meta">
		<div class="field out--warning">
			<p class="warning">
				Changing Element Type or Element Source
				may cause some columns to no longer work.
			</p>
		</div>

		{{ forms.selectField({
			label: 'Element Type'|t('app'),
			id: 'elementType',
			name: 'elementType',
			options: elementTypes,
			value: export.elementType,
		}) }}

		{% for type, sources in elementSources %}
			{% set config = {
				label: 'Element Source',
				id: 'elementSource-' ~ type|replace('\\', '_'),
				name: 'elementSource',
				options: sources,
				value: export.elementSource,
			} %}
			{% embed '_includes/forms/field' with config|merge({
				input: forms.select(config)
			}) %}
				{% block attr -%}
					data-source-type="{{ type }}"
					{%- if export.elementType != type or (not export.elementType and not loop.first) -%}
						{##} style="display:none"
					{%- endif -%}
				{%- endblock %}
			{% endembed %}
		{% endfor %}

		{{ forms.textField({
			label: 'Order',
			id: 'order',
			name: 'order',
			value: export.order,
		}) }}

		{{ forms.textField({
			label: 'Search Query',
			id: 'search',
			name: 'search',
			value: export.search,
		}) }}

		{{ forms.textField({
			label: 'Limit',
			id: 'limit',
			name: 'limit',
			type: 'number',
			min: 1,
			placeholder: 'Unlimited',
			value: export.limit,
		}) }}

		{{ forms.dateTimeField({
			label: 'Before',
			id: 'startDate',
			name: 'startDate',
			value: export.startDate,
		}) }}

		{{ forms.dateTimeField({
			label: 'After',
			id: 'endDate',
			name: 'endDate',
			value: export.endDate,
		}) }}
	</div>

	{% if export.id %}
		<div class="meta read-only">
			<div class="data">
				<h5 class="heading">{{ "Date Created"|t('app') }}</h5>
				<div class="value">{{ export.dateCreated|datetime('short') }}</div>
			</div>
			<div class="data">
				<h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
				<div class="value">{{ export.dateUpdated|datetime('short') }}</div>
			</div>
		</div>
	{% endif %}
{% endblock %}